@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap");
// variables
$font: "Poppins", san-serif;
$selection-color: rgb(57, 178, 87) !default;
$primary: #0154c7 !default;
$text-color: $gray-900 !default;
$text-color-before: #b5b5c3 !default;
$color-white: #ffffff;
$bg: #eef0f8;

$custom-border-radius: 1rem;

html,
body,
app-root {
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: $font;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1199.98px) {
  html,
  body {
    font-size: 13px !important;
  }
}

@media (max-width: 991.98px) {
  html,
  body {
    font-size: 12px !important;
  }
}

body,
app-root {
  display: flex;
  flex-direction: column;
  color: $text-color;
  background-color: $bg;
}
/**
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 0;
}

::-moz-selection {
  background: rgba($selection-color, 0.7);
  color: $color-white;
}

::selection {
  background: rgba($selection-color, 0.7);
  color: $color-white;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: $color-white;
  border-radius: 1rem;
}

/**
 * Basic styles for links
 */

a {
  color: $text-color;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  text-decoration: none !important;
}
/**
 * app styles
 */
// header,app-header{
//   margin-bottom: auto;
// }
footer,
app-footer {
  margin-top: auto;
  padding-top: 3rem;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff !important;
}

.input-group-text {
  color: $text-color-before;
  background-color: #fff;
  border: none !important;
  border-radius: $custom-border-radius !important;
}
.input-group:not(.has-validation) > .form-control:not(:last-child),
.input-group:not(.has-validation) > .custom-select:not(:last-child),
.input-group:not(.has-validation)
  > .custom-file:not(:last-child)
  .custom-file-label::after {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form-control {
  padding: 2.5rem 0.75rem;
  font-size: 1rem;
  border-radius: $custom-border-radius !important;
  color: $text-color-before;
  background-color: #fff;
  border: none !important;
  box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
}

// .form-control:focus,.form-control:visited {
//   color: $text-color-before !important;
// }

.select-control {
  padding: 1rem;
  font-size: 1rem;
  border-radius: $custom-border-radius !important;
  color: $text-color;
  background-color: $bg;
  border: none !important;
}

.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.input-help {
  position: absolute;
  top: 5rem;
  margin-top: 0.25rem;
}
.not-valid {
  display: block;
  width: 100%;
  color: #f64e60;
}

.btn {
  border-radius: $custom-border-radius !important;
  border: none !important;
}
.btn-primary {
  padding: 1rem 2rem;
  color: #ffffff;
  border: none !important;
  border-radius: $custom-border-radius !important;
  background: -moz-linear-gradient(
    45deg,
    rgba(1, 84, 199, 1) 0%,
    rgba(57, 178, 87, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(1, 84, 199, 1) 0%,
    rgba(57, 178, 87, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(1, 84, 199, 1) 0%,
    rgba(57, 178, 87, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0154c7",endColorstr="#39b257",GradientType=1);
}
.btn-padding {
  padding: 1.75rem;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background: $text-color-before !important;
  border: none !important;
}

.btn-link {
  font-weight: 400;
  color: $text-color;
  text-decoration: none;
}

.btn-light {
  color: $text-color;
  background-color: #eef0f8;
  border: none !important;
}

.btn-white {
  padding: 1rem 1.75rem;
  color: $text-color;
  background-color: #ffffff;
  border: none !important;

}

.form-row {
  margin-right: 0;
  margin-left: 0;
}

// card
.app-card {
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  border: 0;
  border-radius: $custom-border-radius !important;
  margin: 1rem 0;

  > .card-body {
    padding: 1rem;

    .card-title {
      font-size: 2rem;
      color: $text-color;
      font-weight: 700;
    }
    .card-text {
      font-size: 1rem;
      color: $text-color;
      font-weight: 400;
      padding: 1rem 3rem;
    }
    .card-title-icon {
      font-size: 1.5rem;
      color: #707070;
      font-weight: 700;
      svg {
        margin-right: 0.5rem;
      }
    }
    .card-text-icon {
      font-size: 1rem;
      color: #707070;
      font-weight: 400;
      small {
        font-size: 0.7rem;
      }
      svg {
        margin-right: 0.5rem;
      }
    }
    .price {
      font-size: 2rem;
      color: #707070;
      font-weight: 600;
    }
  }
}

.splash {
  max-width: 300px;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}

// checkbox

$checkbox-base-color: #27ae60;
.custom-checkbox {
  input[type="checkbox"] {
    display: none;
    + span {
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
      border-radius: $custom-border-radius !important;
      padding: 1rem 2rem;
      text-transform: uppercase;
      background: $color-white;
      color: $text-color-before;
      cursor: pointer;
      text-align: center;
      transition: background 0.1s ease-in, color 0.1s ease-in;
      &:hover {
        color: $text-color;
        background: darken($color-white, 10);
        transition: background 0.1s ease-in, color 0.1s ease-in;
      }
      svg {
        font-size: 1.4rem;
      }
    }
    &:checked {
      + span {
        color: $color-white !important;
        background: -moz-linear-gradient(
          45deg,
          rgba(1, 84, 199, 1) 0%,
          rgba(57, 178, 87, 1) 100%
        );
        background: -webkit-linear-gradient(
          45deg,
          rgba(1, 84, 199, 1) 0%,
          rgba(57, 178, 87, 1) 100%
        );
        background: linear-gradient(
          45deg,
          rgba(1, 84, 199, 1) 0%,
          rgba(57, 178, 87, 1) 100%
        );
        transition: background 0.1s ease-in, color 0.1s ease-in;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .search-mobile {
    flex-direction: column;
  }
  .justify-between-mobile {
    width: 100%;
    justify-content: space-between;
  }
  label {
    display: block;
  }
  .form-group {
    width: 100%;
    margin-bottom: 3rem;
  }
  .btn-mobile {
    width: 100%;
  }
  .select-control {
    width: 100%;
    margin: 0.5rem 0;
  }
  .flex-column-mobile{
    flex-direction: column !important;
    .btn{
      margin: 0.5rem 0;
    }
  }
  .card-text-icon {
    text-align: center;
}
}
